*{
    box-sizing: border-box;
}

#site-title{
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
}
body{
    background-color: antiquewhite;
    padding: 30px;
    min-height: calc(100vh - 16px);
    /* take away the margin */
    /* calculate the height minus the margin */
}

#site-navbar{
    text-align-last: justify;
    background-color: coral;
    padding: 10px;
    margin-bottom: 20px;
}

nav .btn {
    display: inline-block;
}

.profile-pic {
    width: 150px;
}

.about-me-paragraph {
    display: inline-block;
    width: calc(100% - 170px);
}